.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
@font-face {
    font-family: 'heliosc';
    src: url('../font/HeliosC.eot');
    src: url('../font/heliosc-webfont.woff2') format('woff2'),
         url('../font/heliosc-webfont.woff') format('woff'),
         url('../font/heliosc-webfont.ttf') format('truetype'),
         url('../font/heliosc-webfont.svg#heliosc') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heliosthinc';
    src: url('../font/HeliosThinC.eot');
    src: url('../font/heliosthinc-webfont.woff2') format('woff2'),
         url('../font/heliosthinc-webfont.woff') format('woff'),
         url('../font/heliosthinc-webfont.ttf') format('truetype'),
         url('../font/heliosthinc-webfont.svg#heliosthinc') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helioslightc';
    src: url('../font/HeliosLightC.eot');
    src: url('../font/helioslightc-webfont.woff2') format('woff2'),
         url('../font/helioslightc-webfont.woff') format('woff'),
         url('../font/helioslightc-webfont.ttf') format('truetype'),
         url('../font/helioslightc-webfont.svg#helioslightc') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helioscondc';
    src: url('../font/HeliosCondC.eot');
    src: url('../font/helioscondc-webfont.woff2') format('woff2'),
         url('../font/helioscondc-webfont.woff') format('woff'),
         url('../font/helioscondc-webfont.ttf') format('truetype'),
         url('../font/helioscondc-webfont.svg#helioscondc') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0 auto;
    padding: 0;
    width: 958px;
/*    background-color: grey;*/
}

/*   ~~~~ HEADER ~~~~  */

header {
    margin: 0 auto;
    padding: 0;
    width: 97.75510204081633%;  /*  958/980  */
    width: 958px;
    min-height: 78px;
/*    background-color: grey;*/
    
}
header .logo {
    padding-left: 35px;
    padding-top: 30px;
    margin: 0;
}

.navigation {
    float: right;
    margin-top: 16px;
}
.navigation ul {
    padding: 0;
    margin: 0; 
}
.navigation li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.navigation a {
    font-family: 'heliosc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 48.22px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-right: 50px;
    
}

.social {
    float: right;
    margin-top: 27px;
}
.social .social-btn {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    margin-right: 45px;
/*    background-color: #fff;*/
    position: relative;
    opacity: 0.75;
}
.social .social-btn:last-of-type {
    margin-right: 60px;
}
.social .social-btn:hover {
    opacity: 1;
}
.social .social-btn:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    
}
.social .sprite-twitter:before {
    width: 16px;
    height: 14px;
    background-position: -112px -10px;
}
.social .sprite-Ru:before {
    width: 18px;
    height: 13px;
    background-position: -10px -10px;
}

.social .sprite-facebook:before {
    width: 8px;
    height: 16px;
    background-position: -48px -10px;
}

/*  ~~~~ MAIN ~~~~ */
main {
    margin: 0 auto;
    padding: 0;
    width: 958px;
}
.advantages {
    font-size: 0;  
}
.advantages div {
    display: inline-block;
    vertical-align: top;
}
.team {
    width: 100%;
    background-color: #90ccd1;
    background-image: url(../img/team.jpg);
    background-repeat: no-repeat;
    background-position: right top;
}
.team h2 {
    width: 284px;
    margin: 0;
    margin-left: 35px;
    padding: 0;
    padding-top: 50px;

    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 48.22px;
    color: #fff;
    text-transform: uppercase;
}
.team p {
    width: 284px;
    margin: 0;
    margin-left: 35px;
    padding: 0;
    padding-bottom: 27px;
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}

.experience {
    width: 319px;
    height: 640px;
    text-align: center;
    background-image: 
        url(../img/team2.jpg),
        linear-gradient(to top, #d7d7d7 , #f5f5f5 45%, #f5f5f5 100%);
/*    background-color: #90ccd1;*/
/*    background-image: url(../img/team.jpg);*/
    background-repeat: no-repeat;
    background-position: center 120px, 0 0px;
}
.experience h2 {
/*    width: 284px;*/
    margin: 0;
/*    margin-left: 35px;*/
    padding: 0px;
    padding-top: 240px;

    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 35.74px;
    line-height: 41.74px;
    color: #483435;
    text-align: center;

}
.experience p {
/*    width: 284px;*/
    margin: 0;
/*    margin-left: 35px;*/
    padding: 0 45px;
    padding-bottom: 135px;
    padding-top: 30px;
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1e1a33;
    text-align: center;
}

.design {
    width: 320px;
    height: 640px;
}
.design .block1 {
    height: 50%;
}
.design .block2 {
    height: 50%;
    background: #000 url(../img/design.jpg) no-repeat;
}
.design h2 {
    margin: 0;
    margin-left: 40px;
    margin-top: 200px;
    padding: 0;
    
    font-family: 'helioslightc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 48.22px;
    color: #2e2e2e;
    text-transform: uppercase;
}
.design p {
    margin: 0;
    margin-left: 40px;
    padding: 0;
    font-family: 'helioslightc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.work {
    width: 319px;
    height: 640px;
    background: #000 url(../img/work.jpg) no-repeat;
}
.work h2 {
    margin: 0;
    margin-left: 40px;
    margin-top: 530px;
    padding: 0;
    
    font-family: 'helioslightc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 48.22px;
    color: #2e2e2e;
    text-transform: uppercase;
}
.work p {
    margin: 0;
    margin-left: 40px;
    margin-right: 120px;

    padding: 0;
    font-family: 'helioslightc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

/*  ~~~~ meetings ~~~~ */

.jack .meetings {
    width: 100%;
    position: relative;
    
}
.meetings h2 {
    margin: 0;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-image: 
        linear-gradient(to right, #fad35d 66.70146137787056%, #fff 66.70146137787056%);
    font-family: 'helioscondc', sans-serif;
    font-weight: normal;
    font-style: normal;
    
    font-size: 36px;
    line-height: 56px;
    color: #5c4b4c;
    text-transform: uppercase;
    text-align: center;
}
.meetings .plus-btn {
    padding: 0;
    margin: 0;
    
    font-family: 'arial';
    font-size: 40px;
    line-height: 40px;
    font-weight: ;
    text-align: center;
    color: #5c4b4c;
    text-decoration: none;
    
    
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #5c4b4c;
    border-radius: 50%;
    position: absolute;
    left: 59.60334029227557%;
    top: 50%;
    transform: translateY(-50%);
}

.jack .person-1 {
    width: 33.29853862212944%;  /*  319/958  */
    height: 640px;
    position: relative;
    background-image: url(../img/person-1.png);
    background-repeat: no-repeat;
    float: left
}
.jack .active-person:after {
    display: none;
    content: "";
    position: absolute;
    z-index: 1;
    right: -40px;
    top: 35px;
    border: 20px solid transparent;	
    border-left: 20px solid #fad35d;
}
.jack .active-person:active {
    background-image: 
        linear-gradient(to left, #fad35d , transparent 40px),
        url(../img/person-1.png);
}
.jack .active-person:active::after {
    display: inline-block;
}


.jack .person-3 {
    width: 33.29853862212944%;  /*  319/958  */
    height: 640px;
    position: relative;
    background: url(../img/person-3.jpg) no-repeat;
    float: right;
}
.person-3 h3 {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    line-height: 56px;
    color: #fff;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 355px;
    margin-bottom: 15px;
    
}
.person-3 p {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-right: 45px;
}
.person-3 .plus-btn {
    padding: 0;
    margin: 0;
    
    font-family: 'arial';
    font-size: 40px;
    line-height: 40px;
    font-weight: ;
    text-align: center;
    color: #fff;
    text-decoration: none;
    
    
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    bottom: 40px;

}

.jack .description {
    width: 33.40292275574113%;  /*  320/958  */
    height: 320px;
    background-color: #fff;
    position: relative;
    float: right;
}
.description h3 {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    line-height: 56px;
    color: #483435;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 32px;
    margin-top: 25px;
    margin-bottom: 10px;
    
}
.description p {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3b3b3b;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 32px;
    margin-right: 45px;
}
.jack .person-2 {
    width: 33.40292275574113%;  /*  320/958  */
    height: 320px;
    position: relative;
    background: url(../img/person-2.jpg) no-repeat;
    float: right;
    
}

/* ~~~~ EVENTS ~~~~ */


.events .events-title {
    width: 100%;
    position: relative;
    
}
.events-title h2 {
    margin: 0;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-image: 
        linear-gradient(to right, #90d0ce 66.70146137787056%, #fff 66.70146137787056%);
    font-family: 'helioscondc', sans-serif;
    font-weight: normal;
    font-style: normal;
    
    font-size: 36px;
    line-height: 56px;
    color: #5c4b4c;
    text-transform: uppercase;
    text-align: center;
}
.events-title .plus-btn {
    padding: 0;
    margin: 0;
    
    font-family: 'arial';
    font-size: 40px;
    line-height: 40px;
    font-weight: ;
    text-align: center;
    color: #5c4b4c;
    text-decoration: none;
    
    
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #5c4b4c;
    border-radius: 50%;
    position: absolute;
    left: 59.60334029227557%;
    top: 50%;
    transform: translateY(-50%);
}

.events .event-3 {
    width: 33.29853862212944%;  /*  319/958  */
    height: 640px;
    position: relative;
    background-image: url(../img/events-pic3.jpg);
    background-repeat: no-repeat;
    background-position: right 0;
    float: right;
}
.events .active-event:after {
    display: none;
    content: "";
    position: absolute;
    z-index: 1;
    left: -40px;
    top: 35px;
    border: 20px solid transparent;	
    border-right: 20px solid #90d0ce;
}
.events .active-event:active {
    background-image: 
        linear-gradient(to right, #90d0ce , transparent 40px),
        url(../img/events-pic3.jpg);
}
.events .active-event:active::after {
    display: inline-block;
}



.events .event-1 {
    width: 33.29853862212944%;  /*  319/958  */
    height: 640px;
    position: relative;
    background: url(../img/events-pic1.jpg) no-repeat;
    float: left;
}
.event-1 h3 {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    line-height: 59px;
    color: #fff;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 290px;
    margin-bottom: 15px;
    
}
.event-1 p {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-right: 45px;
}
.event-1 .plus-btn {
    padding: 0;
    margin: 0;
    
    font-family: 'arial';
    font-size: 40px;
    line-height: 40px;
    font-weight: ;
    text-align: center;
    color: #fff;
    text-decoration: none;
    
    
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    bottom: 40px;

}

.events .events-description {
    width: 33.40292275574113%;  /*  320/958  */
    height: 320px;
    background-color: #fff;
    position: relative;
    float: right;
}
.events-description h3 {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 51px;
    line-height: 48px;
    color: #483435;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 32px;
    margin-top: 25px;
    margin-bottom: 10px;
    
}
.events-description p {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3b3b3b;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 32px;
    margin-right: 45px;
}
.events .event-2 {
    width: 33.40292275574113%;  /*  320/958  */
    height: 320px;
    position: relative;
    background: url(../img/events-pic2.jpg) no-repeat;
    float: right;
    
}

/* ~~~~ PROJECTS ~~~~ */

.projects .projects-title {
    width: 100%;
    position: relative;
    
}
.projects-title h2 {
    margin: 0;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-image: 
        linear-gradient(to right, #f67e79 66.70146137787056%, #fff 66.70146137787056%);
    font-family: 'helioscondc', sans-serif;
    font-weight: normal;
    font-style: normal;
    
    font-size: 36px;
    line-height: 56px;
    color: #5c4b4c;
    text-transform: uppercase;
    text-align: center;
}
.projects-title .plus-btn {
    padding: 0;
    margin: 0;
    
    font-family: 'arial';
    font-size: 40px;
    line-height: 40px;
    font-weight: ;
    text-align: center;
    color: #5c4b4c;
    text-decoration: none;
    
    
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #5c4b4c;
    border-radius: 50%;
    position: absolute;
    left: 59.60334029227557%;
    top: 50%;
    transform: translateY(-50%);
}

.projects .project-1 {
    width: 33.29853862212944%;  /*  319/958  */
    height: 640px;
    position: relative;
    background-image: url(../img/projects-pic1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    float: left
}
.projects .active-project::after {
    display: none;
    content: "";
    position: absolute;
    z-index: 1;
    right: -40px;
    top: 35px;
    border: 20px solid transparent;	
    border-left: 20px solid #f67e79;
}
.projects .active-project:active {
    background-image: 
        linear-gradient(to left, #f67e79 , transparent 40px),
        url(../img/projects-pic1.jpg);
}
.projects .active-project:active::after {
    display: inline-block;
}


.projects .project-3 {
    width: 33.29853862212944%;  /*  319/958  */
    height: 640px;
    position: relative;
    background: #e1e1e1 url(../img/projects-pic3.jpg) no-repeat right -2px;
    float: right;
}
.project-3 h3 {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    line-height: 56px;
    color: #655759;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 355px;
    margin-bottom: 15px;
    
}
.project-3 p {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #655759;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-right: 45px;
}
.project-3 .plus-btn {
    padding: 0;
    margin: 0;
    
    font-family: 'arial';
    font-size: 40px;
    line-height: 40px;
    font-weight: ;
    text-align: center;
    color: #655759;
    text-decoration: none;
    
    
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #655759;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    bottom: 40px;

}

.projects .projects-description {
    width: 33.40292275574113%;  /*  320/958  */
    height: 320px;
    background-color: #fff;
    position: relative;
    float: right;
}
.projects-description h3 {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    line-height: 56px;
    color: #483435;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 32px;
    margin-top: 25px;
    margin-bottom: 10px;
    
}
.projects-description p {
    font-family: 'heliosthinc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3b3b3b;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-left: 32px;
    margin-right: 45px;
}
.projects .person-2 {
    width: 33.40292275574113%;  /*  320/958  */
    height: 320px;
    position: relative;
    background: url(../img/projects-pic2.jpg) no-repeat;
    float: right;
    
}

/* ~~~ footer ~~~ */

.web-information {
    width: 33.29853862212944%; /*  319/958 */
    margin-top: 20px;
    display: inline-block;
    font-family: 'heliosthinc', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    line-height: 35px;
    color: #655759;
    text-align: left;
    
}
.web-information  p {
    margin: 0;
    text-align: left;
    margin-left: 35px;
}
.web-information .social {
    margin: 0;
    margin-left: 35px;
/*    text-align: left;*/
    float: none;
}
.web-information .social-btn {
    margin: 0;
    margin-right: 20px;
}
footer {
    font-size: 0;
}
.adress {
    width: 66.70146137787056%;
    display: inline-block;
    text-align: right;
}
.adress p {
    margin-right: 55px;
    display: inline-block;
    font-family: 'helioscondc', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color: #655759;
    text-align: center;

}
.adress span {
    font-family: 'helioscondc', sans-serif;
    font-weight: bold;
    font-style: normal;
}